
<%= form_for @voice_actor do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, :required => true %>
    </div> 

    <div class="form-group">
        <%= f.label :nationality %>
        <%= f.text_field :nationality %>
    </div>  

    <div class="form-group">
        <%= f.label :character_ids %>
        <%= f.select :character_ids, Character.pluck(:name, :id), :include_blank => true %>
    </div> 

    <div class="form-group">
        <%= f.label :image %>
        <%= f.url_field :image %>
    </div>    

<%= f.submit "Create Voice Actor", :class => 'btn btn-warning' %>


<% end %>
