
<%= form_for @saga do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true, :required => true %>
    </div>

    <div class="form-group">
        <%= f.label :episodes %>
        <%= f.text_field :episodes %>
    </div>    

    <div class="form-group">
        <%= f.label :synopsis %>
        <%= f.text_field :synopsis %>
    </div>    

<%= f.submit "Create Saga", :class => 'btn btn-warning' %>


<% end %>
