<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <%= link_to 'All characters', characters_path %>
  <%= link_to 'New characters', new_character_path %>
  <%= link_to 'All voice actors', voice_actors_path %>
  <%= link_to 'New voice actors', new_voice_actor_path %>
  <%= link_to 'All sagas', sagas_path %>
  <%= link_to 'New sagas', new_saga_path %>
  </nav>
    <%= yield %>
  </body>
</html>
